
       <div class="card mb-5 mb-lg-0">
        <div class="card-body">
          <h5 class="card-title text-muted text-uppercase text-center">{{tire}}</h5>
          <h6 class="card-price text-center">${{price}}<span class="period">/month</span></h6>
          <hr>
          <ul class="fa-ul">
            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{numberOfUsers}}</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{storage}}</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{upp}}</li>
            <li><span class="fa-li"><i class="fas fa-check"></i></span>{{communityAccess}}</li>
            <li *ngIf="tire =='Free'" class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{uPp}}</li>
            <li *ngIf="tire =='Plus'||tire=='Pro'"><span class="fa-li"><i class="fas fa-check"></i></span>{{uPp}}</li>

            <li *ngIf="tire =='Free'"  class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{dps}}</li>
            <li *ngIf="tire =='Plus'||tire=='Pro'"><span class="fa-li"><i class="fas fa-check"></i></span>{{dps}}</li>

            <li *ngIf="tire =='Free'" class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{freeDomain}}</li>
            <li *ngIf="tire =='Plus'||tire=='Pro'" ><span class="fa-li"><i class="fas fa-check"></i></span>{{freeDomain}}</li>

            <li *ngIf="tire =='Plus'||tire=='Free'" class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>{{monthlyStatus}}</li>
            <li *ngIf="tire =='Pro'" ><span class="fa-li"><i class="fas fa-check"></i></span>{{monthlyStatus}}</li>

        </ul>
          <a href="#" class="btn btn-block btn-primary text-uppercase">Button</a>
        </div>
      </div>